 .ventanaResultado {
     margin: 0;
     max-width: 50%;
     float: right;
     background: #151515;
     color: #ffffff;
     max-height: 500px;
     overflow-y: auto;
 }

 .margenes {
     padding-left: 50px;
     padding-right: 50px;
 }

 .intro {
     background: linear-gradient(to right, royalblue, #ef1039);
     display: flex;
     padding: 20px;
 }

 .intro h1 {
     margin: 0;
     padding: 30px;
     font-size: 30px;
     text-align: right;
     color: white;
     flex-grow: 1;
 }

 .botonIcono {
     color: white;
     border: none;
     height: 12%;
     padding: 5px;
     background: transparent;
     max-width: 90px;
 }

 .botonMenu:hover {
     background-color: #ef1039;
 }

 .botonAmpliar:hover {
     background-color: royalblue;
 }

 .botonAmpliar img {
     max-width: 100%;
     height: auto;
     filter: brightness(0) invert(1);
 }

 .botonMenu img {
     max-width: 100%;
     height: auto;
     filter: brightness(0) invert(1);
 }

 .flex {
     display: flex;
     justify-content: space-between;
     background: linear-gradient(to bottom, #2b2b2b, rgb(62, 62, 62));
     padding-top: 30px;
     color: white;

 }

 .mitad {
     width: 50%;
 }

 .alinear {
     text-align: justify;

 }

 .estudios {
     display: flex;
 }

 .estudios-section {
     width: 70%;
 }

 .logo-section {
     width: 30%;
     padding-top: 5%;
     padding-left: 10%;
 }

 .logo-section img {
     max-width: 100px;
 }


 .experiencia {
     background: linear-gradient(to bottom, rgb(62, 62, 62), royalblue, #ef1039);
 }

 .experiencia h2 {
     margin-top: 0px;
     padding-top: 30px;
 }

 .experiencia-item {
     text-align: center;
     padding: 20px;
     background-color: grey;
 }

 .experiencia-item h3 {

     margin: 0;
 }

 .experiencia-item p {

     margin: 0;
 }

 .color1 {
     background-color: #3498db;
     /* Blue */
     color: white;
 }

 .color2 {
     background-color: #e74c3c;
     /* Red */
     color: white;
 }

 .color3 {
     background-color: #2ecc71;
     /* Green */
     color: white;
 }

 .color4 {
     background-color: #f1c40f;
     /* Yellow */
     color: white;
 }

 .color5 {
     background-color: #9b59b6;
     /* Purple */
     color: white;
 }

 .color6 {
     background-color: #e67e22;
     /* Orange */
     color: white;
 }

 .color7 {
     background-color: #1abc9c;
     /* Turquoise */
     color: white;
 }

 .experiencia-item:hover {
     filter: brightness(0.8);
     /* Darken slightly */
 }

 .logoLengProgramacionMaracod {
     width: 125px;
     height: 125px;

     margin-bottom: 15px;
     padding-left: 15px;
     padding-right: 15px;
     padding-bottom: 15px;
 }

 .logoLengProgramacionMaracod:hover {
     transform: scale(1.1);
     transition: transform 0.3s ease-in-out;
 }

 .logoLengProgramacionMaracod img {
     width: 100%;
     height: 100%;
     object-fit: contain;
 }

 .logoLengProgramacionMaracod span {
     text-align: center;
     display: block;
 }

 .programacion-marcado {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     background: white;
     margin: 20px;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

 }

 .orange {
     background-color: orange;

 }

 .morado {
     background-color: #5e0ad1;

 }

 .gris {
     background-color: #333333;

 }

 .conocimientos {
     margin: 0;
     padding: 30px 0;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
 }

 .conocimientos h2 {
     font-size: 1.2em;
     color: white;
     text-align: center;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

     margin: 0;
 }

 .conocimientos h3 {
     font-size: 1.0em;
     color: white;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     text-align: center;
 }